<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>452931539504-3fc9r1nu131ejo17v2v3ckrdtgtskofh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452931539504-3fc9r1nu131ejo17v2v3ckrdtgtskofh</string>
	<key>API_KEY</key>
	<string>AIzaSyCyiBAuyanV4lVv8MwFg0c_LZwqlXPgz4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>452931539504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.UniversityRideShare</string>
	<key>PROJECT_ID</key>
	<string>rideshare-bf45f</string>
	<key>STORAGE_BUCKET</key>
	<string>rideshare-bf45f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452931539504:ios:9cc90ea3e6b74e62</string>
	<key>DATABASE_URL</key>
	<string>https://rideshare-bf45f.firebaseio.com</string>
</dict>
</plist>